body{background-color: black;}
h1{color: antiquewhite;}
.c{width: 300px;
    height: 400px;
    border: 10px rgb(0, 0, 0) double;}
    .c1{background-color: rgb(221, 139, 139);
    margin-top: 200px;
    margin-left: 2107px;
    }
    .c2{background-color: rgb(99, 16, 126);
    margin-top: -420px;
    margin-left: 2467px;}
    .c3{background-color: rgb(245, 3, 3);
     margin-top: -417px;
     margin-left: 2822px;}
    .c4{background-color: rgb(101, 64, 64);
     margin-top: -417px;
    margin-left: 3174px;}
    .c5{background-color: rgb(197, 61, 61);
        margin-top: -417px;
       margin-left: 3524px;}

       .d{width: 300px;
        height: 400px;
        border: 10px rgb(0, 0, 0) double;}
        .d1{background-color: rgb(58, 25, 205);
        margin-top: 200px;
        margin-left: 2107px;
        }
        .d2{background-color: rgb(220, 20, 60);
        margin-top: -420px;
        margin-left: 2467px;}
        .d3{background-color: rgb(91, 44, 54);
         margin-top: -417px;
         margin-left: 2822px;}
        .d4{background-color: rgb(234, 241, 47);
         margin-top: -417px;
        margin-left: 3174px;}
        .d5{background-color: rgb(114, 18, 18);
            margin-top: -417px;
           margin-left: 3524px;}
           .d6{background-color: rgb(25, 159, 203);
            margin-top: -422px;
           margin-left: 1753px;}
           .d7{background-color: rgb(83, 178, 27);
            margin-top: -417px;
           margin-left: 3882px;}
